/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav  ul{
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

header {
   display: flex; /* 直下の子要素（p、nav）を横並びにする */
   justify-content: space-between; /* 横並びにした要素を両端に寄せ、等間隔にする */
   align-items: center; /* 横並びにした要素を上下中央に揃える */
   background: #eee;
   width: 50%;
   height: 60px;
   padding: 0 30px;
   margin: 0 auto; /* 残りの余白（50%）を両端に均等に分ける */
   font-size: 20px;
}

ul {
   display: flex; /* aタグはinline要素のためliタグが横並びになる */
}

a {
   text-decoration: none; /* テキストの装飾をなくす */
}

li {
   padding: 12px;
   font-size: 14px;
   font-weight: bold; /* 文字の太さを変更 */
   color: #ccc;
   text-align: center; /* 文字位置を真ん中にする */
   list-style: none; /* リストを作った際の「・」が消える */
}
