/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav  ul{
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header{
height:70px;
background-color: #000;
}
.header-wrap{
    display:flex;
    justify-content: space-between;
}

.header-logo{
    font-size: 20px;
    font-weight: bold;
    color:#f2f2f2;
    line-height: 70px;
    margin-left: 35px;
}
.header-nav ul{
    display: flex;
    line-height: 70px;
}
.header-nav li{
    margin-right: 35px;
    font-size: 16px;
}

.header-nav a{
    color: #f2f2f2;
    text-decoration: none;
}

.eyecatch{
    background-image: url(../img/bg1.jpg);
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.eyecatch p{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    color: #ccc;
    transform: translate(-50%,-50%);
}

.about{
    width: 80%;
}
.about-title{
    margin: 50px;
    text-align: center;
    
}

.about-left,
.about-right{
    width: 45%;
}
.about-left img{
    width: 100%;
}
.about-wrap{
    display: flex;
    justify-content: space-around;

}